#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

// ------------------default-----------------
// | LAYERSFT |    /    |    *    |    -    |
// |    7     |    8    |    9    |    +    |
// |    4     |    5    |    6    |         |
// |    1     |    2    |    3    |  ENTER  |
// |          |    0    |         |    .    |
// ----------------------------functions-------------------------------
// | RGB toggle |  Brightness Up     |BrightnessD|  Hue Up            |
// |  Delete    |    LAYERSFT        |DeleteBack |  Hue Down          |
// |Bluetooth 4 |    OUT_TOG         |Bluetooth 3|                    |
// |Bluetooth 0 |    Bluetooth 1     |Bluetooth 2|   reset            |
// |            |    BluetoothCLR    |           |   NOP              |
// --------------------action layer------------------
// |     NOP   |     NOP   |     NOP   |     NOP    |
// |     NOP   |     NOP   |     NOP   |            |
// |Arrow Left |     NOP   |Arrow Right|     NOP    |
// |     NOP   |     NOP   |     NOP   |     NOP    |
// |           |     NOP   |           | Bootloader |

&led_strip { chain-length = <21>; };

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&to 1            &kp KP_DIVIDE    &kp KP_MULTIPLY  &kp KP_MINUS
&kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_PLUS
&kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6
&kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_ENTER
                 &kp KP_NUMBER_0                   &kp KP_DOT
            >;
        };

        function_layer {
            bindings = <
&to 2         &rgb_ug RGB_BRD  &rgb_ug RGB_BRI  &rgb_ug RGB_HUI
&kp DEL       &rgb_ug RGB_TOG  &kp BSPC         &rgb_ug RGB_HUD
&bt BT_SEL 4  &out OUT_TOG     &bt BT_SEL 3
&bt BT_SEL 0  &bt BT_SEL 1     &bt BT_SEL 2     &sys_reset
              &bt BT_CLR                        &none
            >;
        };

        action_layer {
            bindings = <
&to 0     &none              &none      &none
&none     &none              &none      &none
&kp LEFT  &ext_power EP_TOG  &kp RIGHT
&none     &none              &none      &bootloader
          &none                         &none
            >;
        };
    };
};
